<main>
  {{> navigation}}
  <div class="profile-page">
    <div class="sidebar_profile">
      <a class="sidebar-back-button" href="/profile" data-link>←</a>
    </div>

    <div class="profile-container">
      <div class="profile-header">
        <div class="profile-avatar"></div>
        <h1 class="profile-name">Изменить пароль</h1>
      </div>

      <form class="edit-profile-form">
        <div>
          <label for="oldPassword">Старый пароль</label>
          <input type="password" id="oldPassword" name="oldPassword" required />
        </div>

        <div>
          <label for="newPassword">Новый пароль</label>
          <input type="password" id="newPassword" name="newPassword" required />
        </div>

        <div>
          <label for="confirmPassword">Повторите новый пароль</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required />
        </div>

        <div class="edit-profile-actions">
          <button type="submit" class="save-button">Сохранить</button>
          <a href="/profile" data-link class="cancel-button">Отмена</a>
        </div>
      </form>
    </div>
  </div>
</main>

