<div id="app"></div>
<template id="auth-page">{{> auth}}</template>
<template id="register-page">{{> register}}</template>
<template id="error404-page">{{> error404}}</template>
<template id="error500-page">{{> error500}}</template>
<template id="chats-page">{{> chats}}</template>
<template id="profile-page">{{> profile}}</template>
