<div class="profile-page">
  <div class="sidebar_profile">
    <a class="sidebar-back-button" href="/chats">←</a>
  </div>

  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-avatar"></div>
      <h1 class="profile-name" data-field="firstName"></h1>
    </div>

    <table class="profile-table">
      <tr>
        <td class="field-label">Почта</td>
        <td class="field-value" data-field="email"></td>
      </tr>
      <tr>
        <td class="field-label">Логин</td>
        <td class="field-value" data-field="login"></td>
      </tr>
      <tr>
        <td class="field-label">Фамилия</td>
        <td class="field-value" data-field="lastName"></td>
      </tr>
      <tr>
        <td class="field-label">Имя в чате</td>
        <td class="field-value" data-field="displayName"></td>
      </tr>
      <tr>
        <td class="field-label">Телефон</td>
        <td class="field-value" data-field="phone"></td>
      </tr>
    </table>

    <div class="profile-actions">
      <a class="action-link" href="#">Изменить данные</a>
      <a class="action-link" href="#">Изменить пароль</a>
      <a class="action-link logout-link" href="#">Выйти</a>
    </div>
  </div>
</div>

