{{> navigation}}
<div class="profile-page">
  <div class="sidebar_profile">
    <a class="sidebar-back-button" href="/profile" data-link>←</a>
  </div>

  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-avatar">
        <label class="avatar-upload-overlay">
          <span>Сменить</span>
          <input type="file" accept="image/*" name="avatar" />
        </label>
      </div>
      <h1 class="profile-name">{{firstName}}</h1>
    </div>

    <form class="edit-profile-form">
      <div>
        <label for="email">Почта</label>
        <input type="email" id="email" name="email" value="pochta@yandex.ru" />
      </div>

      <div>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" value="Ivankanov" />
      </div>

      <div>
        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name" value="Иван" />
      </div>

      <div>
        <label for="second_name">Фамилия</label>
        <input type="text" id="second_name" name="second_name" value="Иванов" />
      </div>

      <div>
        <label for="display_name">Имя в чате</label>
        <input type="text" id="display_name" name="display_name" value="Иван" />
      </div>

      <div>
        <label for="phone">Телефон</label>
        <input type="tel" id="phone" name="phone" value="+7 (909) 967 30 30" />
      </div>

      <div class="edit-profile-actions">
        <button type="submit" class="save-button"><a href="/profile" data-link></a> Сохранить</button>
        <a href="/profile" data-link class="cancel-button">Отмена</a>
      </div>
    </form>
  </div>
</div>
