<nav class="navbar">
  <ul class="navbar-list">
    <li><a href="/auth" data-link>Вход</a></li>
    <li><a href="/register" data-link>Регистрация</a></li>
    <li><a href="/chats" data-link>Чаты</a></li>
    <li><a href="/profile" data-link>Профиль</a></li>
    <li><a href="/404" data-link>Ошибка 404</a></li>
    <li><a href="/500" data-link>Ошибка 500</a></li>
    <li><a href="/profile/edit" data-link>Изменение профиля</a></li>
    <li><a href="/profile/changepswd" data-link>Изменение пароля</a></li>
  </ul>
</nav>

